.App {
  text-align: center;
  background-color: #f8f3ec;
  min-height: 100vh;
}

.space-large {
  margin: 50px;
}

.padding-medium {
  padding: 20px;
}

.margin-small {
  margin: 10px;
}

.hrs {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.nav-styles {
  background-color: #ffe4c4;
  min-height: 50px;
}

.nav-styles a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.quote-style {
  padding-top: 20px;
}

.quote-border {
  border: 1px solid black;
}

.link-design {
  text-decoration: none;
  color: black;
}

.color {
  background: radial-gradient(#f8f4e9, #faf0e3);
  /* background-color: #f0ead6; */
  border-radius: 75px;
  margin: 50px
}

.submit-quote {
  background-color: antiquewhite;
  margin-top: 40px;
  padding-top: 20px;
}

.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 1px solid black;
  padding-top: 20px;

}